@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .video-container {
    position: relative;
    height: 100%;
    width: 100%;
  }
  
  #background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  .heading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    background-image: transparent;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid black;
  }
  

.parent{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    color: white;
}


.secondparent{
    display: flex;
    /* columns: 2 rem; */
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.recorder{
    color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 80%;
    border: 2px solid white;
    background: linear-gradient(135deg, #0bb9dc, #1937ca);
    border-radius: 10px;
    margin-bottom: 10px;
}
.selectsource{
  display: flex;
    padding: 10px;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.hidden{
  display: none;
}

#loading {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

#mood {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  color: #333;
  font-size: 16px;
}

#mood option {
  background-color: #fff;
  color: #000;
  font-size: 16px;
}

#mood:hover {
  background-color: skyblue;
  transition: background-color 0.3s ease-in; /* Correct transition syntax */
  transform-origin: left;
}



/* From Uiverse.io by doniaskima */ 
/* HTML: <div class="loader"></div> */
.loader {
  display: none;
  --c1: blue;
  --c2: skyblue;
  width: 40px;
  height: 80px;
  border-top: 4px solid var(--c1);
  border-bottom: 4px solid var(--c1);
  background: linear-gradient(90deg, var(--c1) 2px, var(--c2) 0 5px,var(--c1) 0) 50%/7px 8px no-repeat;
  display: grid;
  overflow: hidden;
  animation: l5-0 2s infinite linear;
}

.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  width: 75%;
  height: calc(50% - 4px);
  margin: 0 auto;
  border: 2px solid var(--c1);
  border-top: 0;
  box-sizing: content-box;
  border-radius: 0 0 40% 40%;
  -webkit-mask: linear-gradient(#000 0 0) bottom/4px 2px no-repeat,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  background: linear-gradient(var(--d,0deg),var(--c2) 50%,#0000 0) bottom /100% 205%,
    linear-gradient(var(--c2) 0 0) center/0 100%;
  background-repeat: no-repeat;
  animation: inherit;
  animation-name: l5-1;
}

.loader::after {
  transform-origin: 50% calc(100% + 2px);
  transform: scaleY(-1);
  --s: 3px;
  --d: 180deg;
}

@keyframes l5-0 {
  80% {
    transform: rotate(0)
  }

  100% {
    transform: rotate(0.5turn)
  }
}

@keyframes l5-1 {
  10%,70% {
    background-size: 100% 205%,var(--s,0) 100%
  }

  70%,100% {
    background-position: top,center
  }
}

#analyze,#success {

  z-index: 9999;
  color: black;
  font-size: larger;
  background-color: skyblue;
  height: 30px;
}

#transcribed-text {
  color: white;
  font-size: larger;
}
#success{
  display: none;
  background-color: white;
  border: 2px solid white;
  margin-top: 5px;
  font-size: x-large;
  color: darkgreen;
  display: block;
}

/*------------------------------------------*/
/* audio recorder new*/


.recordcontainer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* body {
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.recordcontainer {
  color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    box-shadow: rgba(255, 255, 255, 0.3) 0 5px 15px;
    background: linear-gradient(135deg, #0bb9dc, #1937ca);
    border: 2px solid white;
    border-radius: 10px;
}

.selectsource{
  padding: 10px;
}

h1 {
    font-size: 16px;
    /* color: #333; */
}

span {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

.recbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 22px;
    gap: 8px;
    height: 40px;
    border: none;
    background: #1b1b1cde;
    border-radius: 20px;
    color: #ffff;
    cursor: pointer;
    margin-bottom: 10px;
}

.label {
    line-height: 20px;
    font-size: 17px;
    color: #ffffff;
    font-family: sans-serif;
    letter-spacing: 1px;
    margin-bottom: 17px;
}

.button:hover {
    background: #1b1b1c;
}

.button:hover .svg-icon {
    animation: scale 1s linear infinite;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05) rotate(10deg);
    }

    100% {
        transform: scale(1);
    }
}

audio {
    width: 100%;
}

.hidden {
    display: none;
}

/*--------------------------------------------------*/

.audiocontainer {
    --transition: 350ms;
    --folder-W: 120px;
    --folder-H: 80px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    background: linear-gradient(135deg, #0bb9dc, #1937ca);
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    height: calc(var(--folder-H) * 1.35);
    position: relative;
    border: 2px solid white;
    margin:0 auto;
    margin-top: 60px;
    margin-bottom: 20px;
  }
  
  .folder {
    position: absolute;
    top: -20px;
    left: calc(50% - 60px);
    animation: float 2.5s infinite ease-in-out;
    transition: transform var(--transition) ease;
  }
  
  .folder:hover {
    transform: scale(1.05);
  }
  
  .folder .front-side,
  .folder .back-side {
    position: absolute;
    transition: transform var(--transition);
    transform-origin: bottom center;
  }
  
  .folder .back-side::before,
  .folder .back-side::after {
    content: "";
    display: block;
    background-color: white;
    opacity: 0.5;
    z-index: 0;
    width: var(--folder-W);
    height: var(--folder-H);
    position: absolute;
    transform-origin: bottom center;
    border-radius: 15px;
    transition: transform 350ms;
    z-index: 0;
  }
  
  .audiocontainer:hover .back-side::before {
    transform: rotateX(-5deg) skewX(5deg);
  }
  .audiocontainer:hover .back-side::after {
    transform: rotateX(-15deg) skewX(12deg);
  }
  
  .folder .front-side {
    z-index: 1;
  }
  
  .audiocontainer:hover .front-side {
    transform: rotateX(-40deg) skewX(15deg);
  }
  
  .folder .tip {
    background: linear-gradient(135deg, #ff9a56, #ff6f56);
    width: 80px;
    height: 20px;
    border-radius: 12px 12px 0 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -10px;
    z-index: 2;
  }
  
  .folder .cover {
    background: linear-gradient(135deg, #ffe563, #ffc663);
    width: var(--folder-W);
    height: var(--folder-H);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
  
  .custom-file-upload {
    font-size: 1.1em;
    color: #ffffff;
    text-align: center;
    /* background: rgba(255, 255, 255, 0.2); */
    background: rgb(118, 205, 239);
    border: none;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background var(--transition) ease;
    display: inline-block;
    width: 70%;
    padding: 10px 35px;
    position: relative;
  }
  
  .custom-file-upload:hover {
    background: rgba(255, 255, 255, 0.4);
  }
  
  .custom-file-upload input[type="file"] {
    display: none;
  }
  
  @keyframes float {
    0% {
      transform: translateY(0px);
    }
  
    50% {
      transform: translateY(-20px);
    }
  
    100% {
      transform: translateY(0px);
    }
  }
  
  
  /* use it in dark theme */
  .input-audiocontainer {
    position: relative;
    margin: 50px auto;
    width: 250px;
    
  }
  
  .input-audiocontainer input[type="text"] {
    font-size: 20px;
    color: white;
    border: none;
    border-bottom: 2px solid #a5a2a2;
    outline: none;
    width: 100%;
    background-color: transparent;
  }
  
  .label {
    transition: all 0.3s ease;
    color: #d3d2d2;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }
  
  .input-audiocontainer input[type="text"]:focus~.label,
          .input-container input[type="text"]:valid~.label {
    top: -20px;
    left: 70px;
    transition: 0.3s;
    color: white;
  }
  
  .input-audiocontainer .underline {
    position: absolute;
    bottom: 4px;
    left: -7px;
    height: 2px;
    width: 110%;
    background-color: white;
    transform: scaleX(0);
  }
  
  .input-audiocontainer .sideline {
    position: relative;
    bottom: 15px;
    right: 24px;
    height: 2px;
    width: 18%;
    background-color:white;
    transform: scaleX(0);
    rotate: 90deg;
  }
  
  .input-audiocontainer .upperline {
    position: absolute;
    bottom: 30px;
    left: -8px;
    height: 2px;
    width: 110%;
    background-color: white;
    transform: scaleX(0);
  }
  
  .input-audiocontainer .line {
    position: relative;
    bottom: 17px;
    left: 240px;
    height: 2px;
    width: 18%;
    background-color: white;
    transform: scaleX(0);
    rotate: 90deg;
  }
  
  .input-audiocontainer input[type="text"]:focus~.underline,
          .input-container input[type="text"]:valid~.underline {
    transform: scaleX(1);
    transition: 1s;
  }
  
  .input-audiocontainer input[type="text"]:focus~.sideline,
          .input-container input[type="text"]:valid~.sideline {
    transform: scaleX(1);
    transition: 1s;
  }
  
  .input-audiocontainer input[type="text"]:focus~.upperline,
          .input-container input[type="text"]:valid~.upperline {
    transform: scaleX(1);
    transition: 1s;
  }
  
  .input-audiocontainer input[type="text"]:focus~.line,
          .input-container input[type="text"]:valid~.line {
    transform: scaleX(1);
    transition: 1s;
  }
  
  
/* From Uiverse.io by vinodjangid07 */ 
.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(255, 65, 65);
  }
  
  /* plus sign */
  .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sign svg {
    width: 17px;
  }
  
  .sign svg path {
    fill: white;
  }
  /* text */
  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .Btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
  }
  /* hover effect button's text */
  .Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
  }
  /* button click effect*/
  .Btn:active {
    transform: translate(2px ,2px);
  }

.ui{
    /* From Uiverse.io by cssbuttons-io */ 
  button {
    --color: #560bad;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color 0.5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
  }
  
  button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
  }
  
  button:hover {
    color: #fff;
  }
  
  button:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
  }
  
  button:hover:before {
    top: -30px;
    left: -30px;
  }
  
  button:active:before {
    background: #3a0ca3;
    transition: background 0s;
  }
  
  }



#entry-form-container{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
#entry-form{
    width: 50%;
    margin-bottom:3rem;
}
#success{
    margin-top: 5px;
    font-size: x-large;
    color: darkgreen;
    display: block;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.author-links{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
    
}

.btn-secondary {
    color:brown;
}

#audio-recording {
    display: flex;
}




/*------------------------------------------------*/
/* From Uiverse.io by vinodjangid07 */ 
.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(255, 65, 65);
  }
  
  /* plus sign */
  .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sign svg {
    width: 17px;
  }
  
  .sign svg path {
    fill: white;
  }
  /* text */
  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .Btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
  }
  /* hover effect button's text */
  .Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
  }
  /* button click effect*/
  .Btn:active {
    transform: translate(2px ,2px);
  }

.ui{
    /* From Uiverse.io by cssbuttons-io */ 
  button {
    --color: #560bad;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color 0.5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
  }
  
  button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
  }
  
  button:hover {
    color: #fff;
  }
  
  button:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
  }
  
  button:hover:before {
    top: -30px;
    left: -30px;
  }
  
  button:active:before {
    background: #3a0ca3;
    transition: background 0s;
  }
  
  }



#entry-form-container{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
#entry-form{
    width: 50%;
    margin-bottom:3rem;
}
#success{
    margin-top: 5px;
    font-size: x-large;
    color: darkgreen;
    display: block;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.author-links{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
    
}

.btn-secondary {
    color:brown;
}

#audio-recording {
    display: flex;
}






  #text-area {
    width: 850px; 
    padding: 15px; 
    font-size: 16px; 
    border-radius: 8px; 
    border: 1px solid #ccc;
    outline: none; 
    resize: vertical; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #fff; 
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: border-color 0.3s ease, box-shadow 0.3s ease; 
  }
  
  #text-area::placeholder {
    color: #888; 
    font-style: italic;
  }
  

  #text-area:focus {
    border-color: #6dd5ed; 
    box-shadow: 0 0 8px rgba(109, 213, 237, 0.4); 
  }
  

  .form-group {
    margin-bottom: 20px; 
  }

  @media (max-width: 600px) {
    #form-description {
      padding: 15px; 
    }
    #text-area {
      font-size: 14px; 
      padding: 10px;
    }
  }
  
  #title{
    width: 100%; 
    height: 25px;
    padding: 2px; 
    font-size: 14px; 
    border-radius: 8px; 
    border: 1px solid #ccc;
    outline: none; 
    resize: vertical; 
    background-color: #fff; 
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      
  }

  #title::placeholder {
    color: #888; 
    font-style: italic;
  }

  /* From Uiverse.io by doniaskima */ 
#btn-56,
#btn-56 *,
#btn-56 :after,
#btn-56 :before,
#btn-56:after,
#btn-56:before {
  border: 2px solid;
  box-sizing: border-box;
}

#btn-56 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: blue;
  background-image: none;
  color: white;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;

}

#btn-56:disabled {
  cursor: default;
}

#btn-56:-moz-focusring {
  outline: auto;
}

#btn-56 svg {
  display: block;
  vertical-align: middle;
}

#btn-56 [hidden] {
  display: none;
}

#btn-56 {
  border: 2px solid;
  border-radius: 999px;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  -webkit-mask-image: none;
  overflow: hidden;
  padding: 1.2rem 3rem;
  position: relative;
  text-transform: uppercase;
}

#btn-56:hover {
  -webkit-animation: pulse 0.5s;
  animation: pulse 0.5s;
  box-shadow: 0 0 0 2em transparent;
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #fff;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #fff;
  }
}
