

#root{
    height: 100%;;
}
.homepage body, .homepage html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.display-4{

    display: block;
    font-size: 2em;
   margin-top: 10px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.lead{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.ui{
    margin-bottom: 25px;
}

.homepage .container {

    background-image: transparent;
    backdrop-filter: blur(10px);
    height: 80%;
    width: 100%;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.homepage .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    background-image: transparent;
    backdrop-filter: blur(10px);
    border-top: 2px solid black;
    border-bottom: 2px solid black;

}

.video-container.homepage {
    position: relative;
    height: 100%;
    width: 100%;
}

.homepage #background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.homepage .content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.homepage .btn {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
    font-weight: bold;
    background: transparent;
    position: relative;
    transition: all 1s;
    overflow: hidden;
    margin-bottom: 16px;
}

.homepage .btn:hover {
    color: white;
}

.homepage .btn::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: -40px;
    transform: skewX(45deg);
    background-color: darkblue;
    z-index: -1;
    transition: all 0.5s;
}

.homepage .btn:hover::before {
    width: 160%;
}
