
.quiz2 .maindiv{
    margin: 1rem;
    background-color: #69b3edc0;
    box-shadow: 1rem 1rem 4rem 0rem rgb(0, 0, 0);
    border-radius: 1rem;
    padding: 3%;
}

.quiz2 footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.quiz2 .foot{
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    display: flex;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      background-image: transparent;
      backdrop-filter: blur(10px);
      font-size: medium;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      border-top: 2px solid black;
  }
   .quiz2 .custom-link {
    color: lightgreen; /* Set the desired link color here */
    text-decoration: none; /* Removes the underline */
  }
  
  /* Change link color on hover */
   .quiz2 .custom-link:hover {
    color: yellow; /* Color when hovering over the link */
  }

  .quiz2 .lgBtn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(255, 65, 65);
    margin: 10px;
}

/* plus sign */
.quiz2 .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz2 .sign svg {
    width: 17px;
}

.quiz2 .sign svg path {
    fill: white;
}

/* text */
.quiz2 .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
}

/* hover effect on button width */
.quiz2 .lgBtn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
}

.quiz2 .lgBtn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
}

/* hover effect button's text */
.quiz2 .lgBtn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
}

/* button click effect*/
.quiz2 .lgBtn:active {
    transform: translate(2px ,2px);
}

.quiz2 .finalbtn{
    border: 2px solid white;
    background-color: #034d5c;
    border: 2px solid white;
    box-shadow: 2px 2px 10px rgb(0 0 0 / 90%);
    padding: 1rem 2rem;
    outline: none;
    font-size: 200;
    display: block;
    margin: 0px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 0.5rem;
    transition: 0.5s smooth;
}

.quiz2 .finalbtn:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.quiz2 .btnblock{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}



/* From Uiverse.io by Yaya12085 */ 
.radio-input input {
    display: none;
  }
  
  .radio-input {
    --container_width: 300px;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 9999px;
    background-color: #fff;
    color: #000000;
    width: var(--container_width);
    overflow: hidden;
    border: 1px solid rgba(53, 52, 52, 0.226);
  }
  
  .radio-input label {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-weight: 600;
    letter-spacing: -1px;
    font-size: 14px;
  }
  
  .selection {
    display: none;
    position: absolute;
    height: 100%;
    width: calc(var(--container_width) / 4);
    z-index: 0;
    left: 0;
    top: 0;
    transition: .15s ease;
  }
  
  .radio-input label:has(input:checked) {
    color: #fff;
  }
  
  .radio-input label:has(input:checked) ~ .selection {
    background-color: rgb(11 117 223);
    display: inline-block;
  }
  
  .radio-input label:nth-child(1):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 0/4));
  }
  
  .radio-input label:nth-child(2):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 1/4));
  }
  
  .radio-input label:nth-child(3):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 2/4));
  }
  
  .radio-input label:nth-child(4):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 3/4));
  }

  .quiz2 .valuebtn{
    display: flex;
    padding: 15px;
    justify-content: center;
  }

  .quiz2 .nxtsbmt{
    display: flex;
    justify-content: center;
  }