.jumbotron{
    margin-bottom: 0;
    padding-bottom: 0;
}
.display-4{
    gap: 20px;
    display: inline-flex;
    align-items: flex-end;
}
.display-4 .logout-btn{
    background-color: grey;
    font-size: 30px;
    align-items: flex-end;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px 6px;
}
hr{
    margin-bottom: 0;
}
.navbar-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.navbar-elements{
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 1.5rem;
}

.container{
    max-width: 100%;
}